html {
    font-family: 'Poppins', sans-serif;
}

.logo {
    height:50px;
}

#yellow-text {
    color: #D1B542;
}

#red-text {
    color:#A42526;
}

#black-text {
    color:#000000;
}

#yellow-back {
    background-color: #D1B542;
    color: black;
}

/* #donate-img {
    change size of malinois image
} */

#home-donate-btn {
    border-radius: 25px;
    background-color: #A42526;
}

#home-top {
    position: relative;
    height: 55vh;
    width: 100%;
    background-image: url(../image/lab_profile.JPEG);
    background-size: cover;
    background-position: 50% 65%;
    background-repeat: no-repeat;
    text-align: center;
}

#home-about {
    position: relative;
    height: 50vh;
    width: 100%;
    background-image: url(../image/dog_toy.jpg);
    background-size: cover;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    text-align: center;
}

.about-section-font {
    font-size: 5rem;
}

.bg-gray-900 {
    background-color: #A42526;
}

section{
    background-color: white;
}
.logo{
    height:50px;
}
.py-10 {
    padding-top: 1.5rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;
    margin: 20px auto; /* Centers the container and adds some vertical spacing */
}
  
.card {
    flex: 1 1 calc(50% - 10px); /* Two cards per row */
    margin: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
}
  
.card h3 {
    margin-top: 0;
    color: #333;
}

.card p {
    color: #666;
}
  